@font-face {
  font-family: G-Montserrat-n7;
  src: url('../data/fonts.gstatic.com_s_montserrat_v12_IQHow_FEYlDC4Gzy_m8fcgJKKGfqHaYFsRG-T3ceEVo.ttf');
}
@font-face {
  font-family: G-Montserrat-n4;
  src: url('../data/fonts.gstatic.com_s_montserrat_v12_Kqy6-utIpx_30Xzecmeo8_esZW2xOQ-xsNqO47m55DA.ttf');
}
@font-face {
  font-family: G-Montserrat-n6;
  src: url('../data/fonts.gstatic.com_s_montserrat_v12_q2OIMsAtXEkOulLQVdSl0_pTEJqju4Hz1txDWij77d4.ttf');
}